<li>
  <div class="row well">
    <div>
      <h3>{{entry.author}} - <em>{{entry.title}}</em>
      {{entry.date}}</h3>
      <p class="entry-content">{{entry.content}}</p>
    </div>
    <!-- <div class="col-sm-6">
      <img class="entry-pics" src="{{entry.image}}" alt="" />
    </div> -->
  </div>
</li>
