<div class="row well review-well">
  <div class="col-sm-6">
    <h3>{{fa-icon "film"}} {{review.author}} - <em>{{review.title}}</em>
    {{review.rating}}</h3>
    <p>{{review.content}}</p>
  </div>
  <div class="col-sm-6">
    <img class="movie-pics" src="{{review.image}}" alt="" />
  </div>
</div>
